{% set page_title = "Invite a New Member" %}
{% extends "page.html" %}

{% block page_content %}
	<section class="container">
		{% if new_code %}
			<h1>Created invitation code</h1>
			<p>
				You have just issued the following invitation code:
			</p>
			<ul><li>{{ new_code }} (expires in {{ config.INVITATION_EXPIRY | relative_future_duration }})</li></ul>
			<p>
				You may give it to someone so that they can register.
			</p>
		{% endif %}
		
		{% if new_code_error %}
			<div class="balloon is-error">
				<h1>Failed to create invitation code</h1>
				<p>
					There was an error which meant that an invitation code could not be issued. For support: {{ config.INTERNAL_ERROR_ADVICE }}
				</p>
				<p>
					Error message: {{ new_code_error }}
				</p>
			</div>
		{% endif %}
	
		<h1>Inviting a New Member</h1>
		<p>
			Please be mindful of who you invite. You will need to direct the registrant to <strong>{{ config.DIRECT_INVITEES_TO }}</strong> and give them an invitation code. Invitation codes can only be used once.
		</p>
		{% if pending_invitations | length > 0 %}
			<p>
				<h2>Pending Invitation Codes</h2>
				<p>You have {{ pending_invitations | length }} pending/unused invitations:</p>
				<ul>
					{% for pending_invitation in pending_invitations %}
						<li>{{ pending_invitation['key_human'] }} (expires in {{ pending_invitation['expiry_timestamp'] | relative_future_time }})</li>
					{% endfor %}
				</ul>
			</p>
		{% endif %}
		{% if can_issue_new %}
			<p>
				<h2>Issue a new invitation code</h2>
				<form method="POST">
					<button type="submit">
						Click to issue a new invitation code
					</button>
				</form>
			</p>
		{% else %}
			<p>
				<h2>Limit reached</h2>
				<p>Unable to create any new invitation codes at this time.</p>
			</p>
		{% endif %}
	</section>
{% endblock page_content %}
