{% set page_title = "Registration" %}
{% extends "page.html" %}

{% block page_content %}
	<h1>New Member Registration</h1>
	<p>
		In order to register, you will need a current member to have given you an invitation code.
		
		<form method="POST" class="narrow hcentre-margin">
			<fieldset>
				{{ form.invitation_code.label() }}
				{{ form.invitation_code(placeholder="Apple 42 Banana") }}
				{% if form.invitation_code.errors %}
					<ul class="form-errors">{% for error in form.invitation_code.errors %}<li>{{ error }}</li>{% endfor %}</ul>
				{% endif %}
				
				
				{{ form.userid.label() }}
				<div class="hbox">
					<div class="hbox-fill">
						{{ form.userid(placeholder="ford_prefect", class="input-suffixed") }}
					</div>
					<div class="input-text-side suffix">@{{ config.AT_DOMAIN }}</div>
				</div>
				{% if form.userid.errors %}
					<ul class="form-errors">{% for error in form.userid.errors %}<li>{{ error }}</li>{% endfor %}</ul>
				{% endif %}
				
				<p>
					Please use a secure passphrase. You could try one of the randomly-generated ones below:
					<ul>
						{% for passphrase_suggestion in passphrase_suggestions %}
							<li>{{ passphrase_suggestion }}</li>
						{% endfor %}
					</ul>
				</p>
				
				{{ form.passphrase.label() }}
				{{ form.passphrase(placeholder = "DON'T PANIC") }}
				{{ form.passphrase_again.label() }}
				{{ form.passphrase_again(placeholder = "DON'T PANIC") }}
				{% if form.passphrase.errors %}
					<ul class="form-errors">{% for error in form.passphrase.errors %}<li>{{ error }}</li>{% endfor %}</ul>
				{% endif %}
				
				<p>
					Please be sure to remember or <u>take note</u> of your passphrase as there is currently no recovery procedure.
				</p>
				
				<button type="submit">
					Register
				</button>
			</fieldset>
		</form>
		
	</p>
{% endblock page_content %}
