{% set page_title = "Privacy" %}
{% extends "page.html" %}

{% block page_content %}
	<h1>Privacy Notice</h1>
	<ul>
		<li>Your data are not shared with, or sold to, third parties.</li>
		<li>Your data are not used/mined for marketing/profiling.</li>
		<li>Your data are stored at:
			<ul>
				<li>CatPond.net Server, leased from Scaleway (Online.net, Iliad S.A.) in Paris, France.</li>
			</ul>
		</li>
	</ul>
	
	<h2>End-to-End Encryption</h2>
	<p>Where feasible and implemented, end-to-end encryption is deployed to ensure that the users retain control over their own data.</p>
	<p>At current, no services support this, but this is an area of research and development.</p>
	
	<h2>Information regarding specific services</h2>
	
	<h3>SnakeLake</h3>
	<ul>
		<li>Top-level posts are only visible to the users that you specify, as part of contact groups.</li>
		<li>Comments are visible to all users that can see the top-level post.</li>
	</ul>
	
	<h3>SnakeLake Gallery</h3>
	<ul>
		<li>Albums are only visible to you and people that you have given the Share URL to.</li>
	</ul>
	
	<h1>Other enquiries</h1>
	<p>For other enquiries, please contact the operator via e-mail by following the 'Contact' link at the bottom of the page.</p>
{% endblock page_content %}
