{% set page_title = "Contact" %}
{% extends "page.html" %}

{% block page_content %}
	<h1>Contact the Operator</h1>
	<p>
		Please use the following e-mail address to contact the operator: {{ config.CONTACT_PAGE_INFO }}.
	</p>
{% endblock page_content %}
