{% set page_title = "Credits" %}
{% extends "page.html" %}

{% block pre_content %}
	<header class="header">
		<section class="container">
			<h1 class="title">{{ config.TITLE }}</h1>
			<span class="slightly-bad-motto">{{ config.SUBTITLE }}</span><br>
			<!---<a href="#"></a>-->
		</section>
	</header>
{% endblock pre_content %}

{% block page_content %}
	{% if g.cid %}
		<h2>Services</h2>
		
			<h3>Web Services</h3>
			
			<div class="row">
				<div class="column service fill-v">
					<div class="service-top">
						{#<img src="/static/friendica-64.png">#}
						<div>
							<h3><a href="{{ config.SERVICE_URLS['snakelake'] }}">SnakeLake</a></h3>
							<p><i>Experimental</i> private social network.</p>
						</div>
					</div>
				</div>
				
				<div class="column service fill-v">
					<div class="service-top">
						{#<img src="/static/piwigo-64.png">#}
						<div>
							<h3><a href="{{ config.SERVICE_URLS['slgallery'] }}">SnakeLake Gallery</a></h3>
							<p><i>Experimental</i> photo gallery. <strong>Only store copies here; no guarantees are yet made about reliability!</strong></p>
						</div>
					</div>
				</div>
			</div>
			
			<h3>Planned Future Services ('Soon')</h3>
			
			<div class="row">
				<div class="column project fill-v">
					<div>
						<h3>{#<a href="/courriel/">#}<s>E-mail Client Set-up</s>{#</a>#}</h3>
						<p>(Coming 'soon'.) Set up e-mail access using Thunderbird, K-9 Mail or other e-mail clients.</p>
					</div>
				</div>
			</div>
		
			<div class="row">
				<div class="column project fill-v">
					<div>
						<h3>{#<a href="/account/amend">#}<s>Change account details</s>{#</a>#}</h3>
						<p>(Coming 'soon'.) Change your display name or password here.</p>
					</div>
				</div>
			</div>
			
			<h3>Potential Future Services</h3>
			
			<div class="row">
				<div class="column service fill-v">
					<div class="service-top">
						<img src="/static/peertube-64.png">
						<div>
							{# <h3><a href="{{ config.SERVICE_URLS['peertube'] }}">PeerTube</a></h3> #}
							<h3>PeerTube</h3>
							<p>Decentralised video platform.</p>
						</div>
					</div>
				</div>
				
				<div class="column service fill-v">
					<div class="service-top">
						<img src="/static/mastodon-64.png">
						<div>
							{# <h3><a href="{{ config.SERVICE_URLS['peertube'] }}">PeerTube</a></h3> #}
							<h3>Mastodon</h3>
							<p>Decentralised public social network.</p>
						</div>
					</div>
				</div>
				
				<div class="column service fill-v">
					<div class="service-top">
						<img src="/static/matrix-64.png">
						<div>
							<h3>Matrix</h3>
							<p>Instant messaging and voice/video calls.</p>
						</div>
					</div>
				</div>
			</div>
			
	{% else %}
		<h2>Please sign in or register</h2>
		
		<div class="row">
			<div class="column project fill-v">
				<div>
					<h3><a href="/xtsso/sign_in">Sign in</a></h3>
					<p>Existing users should sign in here.</p>
				</div>
			</div>
			
			<div class="column project fill-v">
				<div>
					<h3><a href="/account/register">Register</a></h3>
					<p>In order to register, you will need to be given an invitation code from an existing member.</p>
				</div>
			</div>
		</div>
	{% endif %}
{% endblock page_content %}
