<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>{{ config.TITLE }}</title>

		<link rel="stylesheet" type="text/css" href="/static/entry.css">

		{% block extra_head %}{% endblock %}
	</head>
	<body>

		<main class="wrapper">
			<input type="checkbox" class="menu_toggle" id="menu_toggle">
			<label for="menu_toggle" class="menu_toggle_bar">Click to reveal menu</label>
			<nav class="navigation">
				<ul>
					<li><a{% if nav_active == "home" %} class="nav-active"{% endif %} href="/">{{ config.TITLE }} Home</a></li>
{#					<li><a{% if nav_active == "status" %} class="nav-active"{% endif %} href="/status">Status</a></li>#}
					<li class="is-dummy is-filler"></li>
					{% if g.cid %}
						{#<li><a{% if nav_active == "invite" %} class="nav-active"{% endif %} href="/account/settings">Account Settings</a></li>#}
						<li><a{% if nav_active == "invite" %} class="nav-active"{% endif %} href="/account/invite">Invite</a></li>
						<li><a{% if nav_active == "signout" %} class="nav-active"{% endif %} href="/xtsso/sign_out">Sign out ({{ g.cid }})</a></li>
					{% else %}
						<li><a{% if nav_active == "register" %} class="nav-active"{% endif %} href="/account/register">Register</a></li>
						<li><a{% if nav_active == "signin" %} class="nav-active"{% endif %} href="/xtsso/sign_in">Sign in</a></li>
					{% endif %}
				</ul>
			</nav>
			
			{% if g.cid %}
				<nav class="navigation navigation-secondary">
					<ul>
						<li class="is-dummy">Services</li>
						<li><a href="{{ config.SERVICE_URLS['snakelake'] }}">SnakeLake</a></li>
						<li><a href="{{ config.SERVICE_URLS['slgallery'] }}">SLGallery</a></li>
						{#<li><a href="{{ config.SERVICE_URLS['peertube'] }}">PeerTube</a></li>#}
					</ul>
				</nav>
			{% endif %}
			
			{% block pre_content %}{# the header could go here if desired. #}{% endblock pre_content %}
			
			{% with messages = get_flashed_messages() %}
				{% if messages %}
					<blockquote>
						<ul class="flashes">
						{% for message in messages %}
							<li>{{ message }}</li>
						{% endfor %}
						</ul>
					</blockquote>
				{% endif %}
			{% endwith %}
			
			<div class="content">
				{% block page_content %}
				
				{% endblock %}
			</div>
			
			<footer class="footer">
				{{ config.COPY_OPERATORS }}, {{ config.COPY_YEAR }}. <a href="/about/privacy">Privacy</a>. <a href="/about/credits">Attribution</a>. <a href="/about/contact">Contact</a>.
			</footer>
		
		</main>
		
	</body>
</html>
