{% set page_title = "Welcome to the Server" %}
{% extends "page.html" %}

{% block page_content %}
	<section class="container">
		<h1>Registration Successful — Welcome!</h1>
		<p>
			Your account has now been registered.
		</p>
		<p>
			<h2>Getting Connected</h2>
			<table>
				<tbody>
					<tr>
						<th>Username (use this to log in)</th>
						<td>{{ username }}</td>
					</tr>
					<tr>
						<th>Full User ID (give this to other people)</th>
						<td>@{{ username }}:{{ config.mxid_domain }}</td>
					</tr>
					<tr>
						<th>Homeserver</th>
						<td>{{ homeserver }}</td>
					</tr>
				</tbody>
			</table>
			If you don't know what application to use to connect to the server, please look at the
			<a href="{{ config.docroot }}get_connected">Get Connected page</a>.
		</p>
		<p>
			<h2>Once you're connected...</h2>
			...you can add your contact by using their full username:
			<pre><code>@{{ contact_username }}:{{ config.mxid_domain }}</code></pre>.
		</p>
	</section>
{% endblock page_content %}
