{% set page_title = "Sign out" %}
{% extends "page.html" %}

{% block page_content %}
	{% if done %}
		<h1>Signed out!</h1>
		<p>
			You are now signed out.
		</p>
	{% else %}
		<h1>Sign out</h1>
		<p>
			Please click the below button to sign out.
		</p>
		<form method="POST" class="narrow hcentre-margin">
			<button type="submit">
				Sign out
			</button>
		</form>
	{% endif %}
{% endblock page_content %}
