{% set page_title = "Sign in" %}
{% extends "page.html" %}

{% block page_content %}
	<h1>Sign in</h1>
	<p>
		Signing in will allow you to access the web-based services, including the account management page.
	</p>
	<form method="POST" class="narrow hcentre-margin">
		<fieldset>
			{{ form.userid.label() }}
			<div class="hbox">
				<div class="hbox-fill">
					{{ form.userid(placeholder="ford_prefect", class="input-suffixed") }}
				</div>
				<div class="input-text-side suffix">@{{ config.AT_DOMAIN }}</div>
			</div>
			{% if form.userid.errors %}
				<ul class="form-errors">{% for error in form.userid.errors %}<li>{{ error }}</li>{% endfor %}</ul>
			{% endif %}
		</fieldset>
		
		<fieldset>
			{{ form.passphrase.label() }}
			{{ form.passphrase(placeholder="DON'T PANIC") }}
			{% if form.passphrase.errors %}
				<ul class="form-errors">{% for error in form.passphrase.errors %}<li>{{ error }}</li>{% endfor %}</ul>
			{% endif %}
		</fieldset>
		
		<button type="submit">
			Sign in
		</button>
	</form>
	<p>
		(A cookie will be set in your browser so that you may access all {{ config.TITLE }} services.)
	</p>
{% endblock page_content %}
