{% set page_title = "Feed" %}
{% extends "page.html" %}

{% block page_content %}
	<div class="row">
		<div class="column column-20">
			You're my Moon {{ threads }}
		</div>
		<div class="column column-60">
			<div class="feed_message_commands"><a href="/pub" class="button button-clear">Write a post</a></div>
			<ul class="feed">
				<li>
					<div class="feed_message">
						<img src="/static/plasma_avatar.png" class="avatar">
						<div class="feed_message_value">
							<a href="/users/by-userid/plasma">Plasma</a> → Friends, <abbr title="2016-12-32 16:15:23">23 minutes ago</abbr><br>
							<strong>It's the rest of the world that looks so small.</strong>
							<p>
								We go round and round.
							</p>
							<div class="feed_message_commands"><a href="/pub/" class="button button-clear">Comment</a> • <button type="submit" name="sub" value="42" form="frm" class="button button-clear">Subscribe</button> • <button type="submit" name="delete" value="42" form="frm" class="button button-clear">Delete</button></div>
						</div>
					</div>
					<ul class="subfeed level-1">
						<li>
							<div class="feed_message">
								<img src="/static/lava_avatar.png" class="avatarsml">
								<div class="subfeed_message_value">
									<a href="/users/by-userid/lava">Lava</a>, <abbr value="2016-12-32 16:15:23">27 minutes ago</abbr><br>
									<p>
										Promise me, you will always remember who you are.
									</p>
									<div class="feed_message_commands"><a href="#">Comment</a></div>
								</div>
							</div>
							<ul class="subfeed level-2">
								<li>
									<div class="feed_message">
										<img src="/static/plasma_avatar.png" class="avatarsml">
										<div class="subfeed_message_value">
											<a href="/users/by-userid/plasma">Plasma</a>, <abbr value="2016-12-32 16:15:23">25 minutes ago</abbr><br>
											<p>
												What if I forget?
											</p>
											<div class="feed_message_commands"><a href="#">Comment</a></div>
										</div>
									</div>
								</li>
								<li>
									<div class="feed_message">
										<img src="/static/lava_avatar.png" class="avatarsml">
										<div class="subfeed_message_value">
											<a href="/users/by-userid/lava">Lava</a>, <abbr value="2016-12-32 16:15:23">23 minutes ago</abbr><br>
											<p>
												Then we have a problem, don't we..
											</p>
											<div class="feed_message_commands"><a href="#">Comment</a></div>
										</div>
									</div>
								</li>
							</ul>
						</li>
						<li>
							<div class="feed_message">
								<img src="/static/plasma_avatar.png" class="avatarsml">
								<div class="subfeed_message_value">
									<a href="/users/by-userid/plasma">Plasma</a>, <abbr value="2016-12-32 16:15:23">27 minutes ago</abbr><br>
									<p>
										Silence and dark skies.
									</p>
									<div class="feed_message_commands"><a href="#">Comment</a></div>
								</div>
							</div>
						</li>
					</ul>
				</li>
				<li>
					<div class="feed_message">
						<img src="/static/lava_avatar.png" class="avatar">
						<div class="feed_message_value">
							<a href="/users/by-userid/lava">Lava</a>, <abbr value="2016-12-32 16:15:23">27 minutes ago</abbr><br>
							<strong>In a strange kind of way.</strong>
							<p>
								I keep telling you I don't care.<br>
								I keep saying there's one thing they can't change.
							</p>
							<a href="#">Comment</a> • <a href="#">Subscribe</a>
						</div>
					</div>
				</li>
			</ul>
		</div>
		<div class="column column-20">
			Feed valid as of 2018-09-22, 00h21m47s
			Let them shuffle the numbers
			
			<form method="POST" id="frm"></form>
		</div>
	</div>
{% endblock page_content %}
