{% set page_title = "Publish" %}
{% extends "page.html" %}

{% block page_content %}
	
	<form method="POST">
		<fieldset>
			{{ form.csrf_token() }}
			{% if form.csrf_token.errors %}
				<ul class="form-errors">
					{% for error in form.csrf_token.errors %}<li>{{ error }}</li>{% endfor %}
					<li>If you meant to submit this form (and it was not forged), please submit it again.</li>
				</ul>
			{% endif %}
			
			{{ form.title.label() }}
			{{ form.title() }}
			{% if form.title.errors %}
				<ul class="form-errors">{% for error in form.title.errors %}<li>{{ error }}</li>{% endfor %}</ul>
			{% endif %}
			
			{{ form.message.label() }}
			{{ form.message(class="textarea_tall") }}
			{% if form.message.errors %}
				<ul class="form-errors">{% for error in form.message.errors %}<li>{{ error }}</li>{% endfor %}</ul>
			{% endif %}
			
			{{ form.visible_to.label() }}
			{{ form.visible_to() }}
			{% if form.visible_to.errors %}
				<ul class="form-errors">{% for error in form.visible_to.errors %}<li>{{ error }}</li>{% endfor %}</ul>
			{% endif %}
			
			<button type="submit">Publish</button>
		</fieldset>
	</form>
	
{% endblock page_content %}
