{% set page_title = "Publish a reply" %}
{% extends "page.html" %}

{% block page_content %}
	
	<form method="POST">
		<fieldset>
			{{ form.csrf_token() }}
			{% if form.csrf_token.errors %}
				<ul class="form-errors">
					{% for error in form.csrf_token.errors %}<li>{{ error }}</li>{% endfor %}
					<li>If you meant to submit this form (and it was not forged), please submit it again.</li>
				</ul>
			{% endif %}
			
			{{ form.message.label() }}
 			{{ form.message(class="textarea_tall") }}
			{% if form.message.errors %}
				<ul class="form-errors">{% for error in form.message.errors %}<li>{{ error }}</li>{% endfor %}</ul>
			{% endif %}
			
			This post will be visible to everyone who can see the thread.
			
			<button type="submit">Publish</button>
		</fieldset>
	</form>
	
	<h2>Replying to</h2>
	<blockquote>
		<div class="feed_message">
			<img src="{{ post.avatar_url }}" class="avatar">
			<div class="feed_message_value">
				<a href="/users/by-userid/{{ post.userid }}">{{ post.display_name }}</a>, <abbr title="{{ post.posted_at | in_timezone }}">{{ post.posted_at | relativise_time }}</abbr><br>
				{% if not post.parent_postnum %}<strong>{{ post.title }}</strong>{% endif %}
				{{ post.content | specified_formatting(post.content_type) }}
			</div>
		</div>
	</blockquote>
	
{% endblock page_content %}
