{% set page_title = "Feed" %}
{% extends "page.html" %}


{% macro subfeed(level, thread, postnum) %}
	<ul class="subfeed level-{{ level }}">
		{% for post in thread.childrenmap[postnum] %}
			{% set poster = users[post.poster_usernum] %}
			<li>
				<div class="feed_message">
					<img src="{{ poster.avatar_url }}" class="avatarsml">
					<div class="subfeed_message_value">
						<a href="/users/by-userid/{{ poster.userid }}">{{ poster.display_name }}</a>, <abbr title="{{ post.posted_at | in_timezone }}">{{ post.posted_at | relativise_time }}</abbr><br>
						{{ post.content | specified_formatting(post.content_type) }}
						<div class="feed_message_commands"><a href="/pub/{{ post.postnum }}">Comment</a></div>
					</div>
				</div>
				{% if post.postnum in thread.childrenmap %}
					{{ subfeed(level + 1, thread, post.postnum) }}
				{% endif %}
			</li>
		{% endfor %}
	</ul>
{% endmacro %}

{% block page_content %}
	<div class="row pc-row">
		<div class="column column-20">
			
		</div>
		<div class="column column-60">
			<div class="feed_message_commands"><a href="/pub" class="button button-clear">Write a post</a></div>
			<ul class="feed">
				{% for thread in threads %}
				{% set poster = users[thread.poster_usernum] %}
					<li>
						<div class="feed_message">
							<img src="{{ poster.avatar_url }}" class="avatar">
							<div class="feed_message_value">
								<a href="/users/by-userid/{{ poster.userid }}">{{ poster.display_name }}</a>{% if thread.visible_to_setnum in sets %} → {{ sets[thread.visible_to_setnum] }}{% endif %}, <abbr title="{{ thread.main.posted_at | in_timezone }}">{{ thread.main.posted_at | relativise_time }}</abbr><br>
								<strong>{{ thread.title }}</strong>
								{{ thread.main.content | specified_formatting(thread.main.content_type) }}
								<div class="feed_message_commands"><a href="/pub/{{ thread.main.postnum }}" class="button button-clear">Comment</a> • {# TODO <button type="submit" name="sub" value="{{ thread.main.postnum }}" form="frm" class="button button-clear">Subscribe</button> • <button type="submit" name="delete" value="{{ thread.main.postnum }}" form="frm" class="button button-clear">Delete</button>#}</div>
							</div>
						</div>
						{% if thread.main.postnum in thread.childrenmap %}
							{{ subfeed(1, thread, thread.main.postnum) }}
						{% endif %}
					</li>
				{% endfor %}
			</ul>
		</div>
		<div class="column column-20">
			Feed valid as of:<br>
			<strong>{{ validity | in_timezone }}</strong>
			
			<form method="POST" id="frm"></form>
		</div>
	</div>
{% endblock page_content %}
