{% extends "gallery_base.html" %}

{% block extra_head %}
	<script type="text/javascript" src="/static/parcel/gallery_view.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/parcel/gallery_view.css">
{% endblock extra_head %}

{% block extranav %}
	{% if nav_active == 'mine' %}
		<li class="is-dummy">•</li>
		<li><a href="javascript: void(0);" id="gm-manage">Manage</a></li>
	{% endif %}
{% endblock extranav %}

{% block extranav_r %}
	{% if nav_active == 'mine' and this_album %}
		<li><a href="/gallery/upload/{{ this_album.albumnum }}">Upload photographs</a></li>
	{% endif %}
{% endblock extranav_r %}

{% block postnav %}
	{% if nav_active == 'mine' %}
		<nav class="nav" id="gm-bar" style="display: none;">
			<ul>
				<li class="is-dummy">Selection Mode</li>
				<li><a href="javascript: void(0);" id="gm-range">(single)</a></li>
				<li class="is-dummy">•</li>
				<li class="is-dummy is-filler"></li>
			</ul>
		</nav>
	{% endif %}
{% endblock postnav %}

{% block maincontent %}
	{% if back_up %}
		<a href="{{ back_up }}" class="button button-clear">Go back up one level</a>
	{% elif nav_active == 'mine' and request.path == '/gallery/' %}
		<a href="/gallery/new" class="button button-clear">Create a new album</a>
	{% endif %}
	<div class="gallery">
		{% if albums %}
			{% for album in albums %}
				<figure><a href="/gallery/{{ album.albumnum }}" data-photum="a{{ album.albumnum }}" class="album">
					<img src="/static/gallery_placeholder.t.png" alt="Album Cover">
					<div class="overlay">
						{{ album.name }}
						<div class="date">__ ___ ____</div>
					</div>
				</a></figure>
			{% endfor %}
		{% endif %}
		{% if albums and photos %}
			<hr>
		{% endif %}
		{% if photos %}
			{% for photo in photos %}
				<figure><a href="{{ config.PHOTO_ROOT_URL }}/{{ photo.photohash }}.jpg" data-size="{{ photo.width }}x{{ photo.height }}" data-photum="p{{ photo.photonum }}" class="photo">
					<img src="{{ config.PHOTO_ROOT_URL }}/{{ photo.photohash }}.t.jpg" alt="Image description">
					<div class="overlay date">
						{{ photo.timestamp | humane_dateonly }}
					</div>
					<figcaption>Image caption</figcaption>
				</a></figure>
			{% endfor %}
		{% endif %}
	</div>
	{% if photos %}
		<!-- Root element of PhotoSwipe. Must have class pswp. -->
		<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
			{# Background of PhotoSwipe. 
				It's a separate element as animating opacity is faster than rgba(). #}
			<div class="pswp__bg"></div>
			{# Slides wrapper with overflow:hidden. #}
			<div class="pswp__scroll-wrap">
				{# Container that holds slides. 
					PhotoSwipe keeps only 3 of them in the DOM to save memory.
					Don't modify these 3 pswp__item elements, data is added later on. #}
				<div class="pswp__container">
					<div class="pswp__item"></div>
					<div class="pswp__item"></div>
					<div class="pswp__item"></div>
				</div>
				{# Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. #}
				<div class="pswp__ui pswp__ui--hidden">
					<div class="pswp__top-bar">
						{# Controls are self-explanatory. Order can be changed. #}
						<div class="pswp__counter"></div>
						<button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
						<button class="pswp__button pswp__button--share" title="Share"></button>
						<button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
						<button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
						<!-- TODO add an 'original quality' button or link around here -->
						{# Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR
						element will get class pswp__preloader--active when preloader is running #}
						<div class="pswp__preloader">
							<div class="pswp__preloader__icn">
							<div class="pswp__preloader__cut">
								<div class="pswp__preloader__donut"></div>
							</div>
							</div>
						</div>
					</div>
					<div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
						<div class="pswp__share-tooltip"></div> 
					</div>
					<button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
					</button>
					<button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
					</button>
					<div class="pswp__caption">
						<div class="pswp__caption__center"></div>
					</div>
				</div>
			</div>
		</div>
	{% endif %}
	{% if nav_active == 'mine' and this_album %}
		<a href="/gallery/{{ this_album.albumnum }}/share" class="button button-clear">Share this album</a>
	{% endif %}
{% endblock %}
