{% extends "gallery_base.html" %}

{% block extranav_r %}
	<li><a href="/gallery/{{ albumnum }}">Finished uploading</a></li>
{% endblock extranav_r %}

{% block extra_body_attrs %} class="upload_page"{% endblock extra_body_attrs %}
{% block outer_main %}
	<iframe src="{{ request.path }}/frame" class="main unbordered"></div>
{% endblock outer_main %}
