<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>SnakeLake Gallery</title>
		<link rel="stylesheet" type="text/css" href="/static/gallery_dark.css">
		{% block extra_head %}{% endblock %}
	</head>
	<body{% block extra_body_attrs %}{% endblock extra_body_attrs %}>
		<input type="checkbox" class="menu_toggle" id="menu_toggle">
		<label for="menu_toggle" class="menu_toggle_bar">Click to reveal menu</label>
		<nav class="nav">
			<ul>
				<li{% if nav_active == "mine" %} class="nav-active"{% endif %}><a href="/gallery/">My gallery</a></li>
				{% if config.RETURN_LINK %}
					<li><a href="{{ config.RETURN_LINK[1] }}">{{ config.RETURN_LINK[0] }}</a></li>
				{% endif %}
{#					<li><a{% if nav_active == "status" %} class="nav-active"{% endif %} href="/status">Status</a></li>#}
				{% block extranav %}{% endblock extranav %}
				<li class="is-dummy is-filler"></li>
				{% block extranav_r %}{% endblock extranav_r %}
				{% if g.cid %}
					<li><a href="{{ config.XTSSO_ENDPOINT }}/sign_out">Sign out ({{ g.cid }})</a></li>
				{% else %}
					<li class="is-dummy">Not logged in</li>
				{% endif %}
			</ul>
		</nav>
		{% block postnav %}{% endblock postnav %}
		{% block outer_main %}
			<main class="main">
				{% block maincontent %}
					No body content.
				{% endblock %}
			</main>
		{% endblock outer_main %}
	</body>
</html>
