{% extends "gallery_base.html" %}

{% block maincontent %}
	<a href="/gallery/{{ album.albumnum }}" class="button button-clear">Go back to album display</a>

	<h1>Share your Album: {{ album.name }}</h1>

	<h2>Share by URL</h2>

	<p>Anybody will the below link will be able to access your album:</p>
	<input type="text" readonly value="{{config.SELF_URL}}/gallery/{{ album.albumnum }}:{{ album.unlisted_token }}">
	
	<h2>Share onto SnakeLake</h2>
	
	<p>Coming soon&trade;. For now, you can copy and paste the 'Share by URL' link into a SnakeLake post.</p>
{% endblock maincontent %}
