{% extends "gallery_base.html" %}

{% block maincontent %}
	<h1>Create a new album</h1>
	
	{% if parent %}
		<p>This album will be a sub-album of: {{ parent.name }}.</p>
	{% endif %}
	
	{# TODO <p>After you have created the album and uploaded some photos, you will be able to change the cover photo.</p> #}
	
	<form method="POST">
		{{ form.csrf_token() }}
		{% if form.csrf_token.errors %}
			<ul class="form-errors">
				{% for error in form.csrf_token.errors %}<li>{{ error }}</li>{% endfor %}
				<li>If you meant to submit this form (and it was not forged), please submit it again.</li>
			</ul>
		{% endif %}
		<fieldset>
			{{ form.name.label() }}
			{{ form.name() }}
			{% if form.name.errors %}
				<ul class="form-errors">{% for error in form.name.errors %}<li>{{ error }}</li>{% endfor %}</ul>
			{% endif %}
			<button type="submit">Create album</button>
		</fieldset>
	</form>
{% endblock maincontent %}
