<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>{% if page_title %}{{ page_title }} — {% endif %}{{ config.TITLE }}</title>

		<link rel="stylesheet" type="text/css" href="/static/light.css">

		{% block extra_head %}{% endblock %}
	</head>
	<body>

		<main class="wrapper">
			<input type="checkbox" class="menu_toggle" id="menu_toggle">
			<label for="menu_toggle" class="menu_toggle_bar">Click to reveal menu</label>
			<nav class="navigation">
				<ul>
					<li><a{% if nav_active == "home" %} class="nav-active"{% endif %} href="/">{{ config.TITLE }}</a></li>
					{% if config.RETURN_LINK %}
						<li><a href="{{ config.RETURN_LINK[1] }}">{{ config.RETURN_LINK[0] }}</a></li>
					{% endif %}
{#					<li><a{% if nav_active == "status" %} class="nav-active"{% endif %} href="/status">Status</a></li>#}
					<li class="is-dummy is-filler"></li>
					{% if g.cid %}
						{#<li><a{% if nav_active == "invite" %} class="nav-active"{% endif %} href="/account/settings">Account Settings</a></li>#}
						{#<li><a{% if nav_active == "invite" %} class="nav-active"{% endif %} href="/account/invite">Notifications</a></li>#}
						<li><a{% if nav_active == "sets" %} class="nav-active"{% endif %} href="/sets">Contacts</a></li>
						<li><a{% if nav_active == "signout" %} class="nav-active"{% endif %} href="{{ config.XTSSO_ENDPOINT }}/sign_out">Sign out ({{ g.cid }})</a></li>
					{% else %}
						<li>Not logged in</li>
					{% endif %}
				</ul>
			</nav>
			
			{% block pre_content %}{# the header could go here if desired. #}{% endblock pre_content %}
			
			{% with messages = get_flashed_messages() %}
				{% if messages %}
					<blockquote>
						<ul class="flashes">
						{% for message in messages %}
							<li>{{ message }}</li>
						{% endfor %}
						</ul>
					</blockquote>
				{% endif %}
			{% endwith %}
			
			<div class="content">
				{% block page_content %}
				
				{% endblock %}
			</div>
			
			<footer class="footer">
				{{ config.COPY_OPERATORS }}, {{ config.COPY_YEAR }}. <a href="{{ config.PRIVACY_URL }}">Privacy</a>. <a href="/about/credits">Attribution</a>. <a href="{{ config.CONTACT_URL }}">Contact</a>.
			</footer>
		
		</main>
		
	</body>
</html>
