{% set page_title = "Profile" %}
{% extends "page.html" %}

{% block page_content %}
	<div class="feed_message">
		<img src="{{ config.DEFAULT_AVATAR_URL(member.userid) }}" class="avatar">
		<div class="feed_message_value">
			<h1>{{ member.display_name }}'s Profile</h1>
			<ul>
				<li>User ID: {{ member.userid }}</li>
				{% if state == 'mutual' %}
					{% if config.EMAIL_LAMBDA %}{% set email = config.EMAIL_LAMBDA(member.userid) %}
						<li>E-mail address: <a href="mailto:{{ email }}">{{ email }}</a></li>
					{% endif %}
					<li>You are mutual contacts <button type="submit" name="rej" form="frm" class="button-transparent">Remove</button></li>
				{% elif state == 'outgoing' %}
					<li>You have requested to be contacts.</li>
				{% elif state == 'incoming' %}
					<li>You have received a contact request. <button type="submit" name="req" form="frm">Accept</button> <button type="submit" name="rej" form="frm">Reject</button></li>
				{% else %}
					<li>You are not contacts. <button type="submit" name="req" form="frm">Add to contacts</button></li>
				{% endif %}
			</ul>
			<form method="POST" id="frm">
				{{ form.csrf_token() }}
			</form>
		</div>
	</div>
{% endblock page_content %}
