{% set page_title = "Add or remove contacts" %}
{% extends "page.html" %}

{% block page_content %}
	<h1>Managing Contact Group: {{ cset.name }}</h1>
	
	<form method="POST">
		{{ form.csrf_token() }}
		{% if form.csrf_token.errors %}
			<ul class="form-errors">
				{% for error in form.csrf_token.errors %}<li>{{ error }}</li>{% endfor %}
				<li>If you meant to submit this form (and it was not forged), please submit it again.</li>
			</ul>
		{% endif %}
		<label>Once done, please click to save: <button type="submit">Apply changes</button></label>
		<div class="row">
			<div class="column column-50">
				{% if members %}
					<h2>Contacts in this Contact Group (Tick to remove)</h2>
					<p>You can select contacts to remove from the <em>{{ cset.name }}</em> contact group.</p>
					<ul class="list-nostyle">
						{% for user in members %}
							<li>
								<div class="feed_message">
									<img src="{{ config.DEFAULT_AVATAR_URL(user.userid) }}" class="avatarsml">
									<div class="feed_message_value">
										<label>
											{{ user.display_name }} ({{ user.userid }})
											<input type="checkbox" name="del{{ user.usernum }}" autocomplete="off">
										</label>
									</div>
								</div>
							</li>
						{% endfor %}
					</ul>
				{% else %}
					<p>There are currently no contacts in this contact group.</p>
				{% endif %}
			</div>
			{% if nonmembers %}
				<div class="column column-50">
					<h2>Other Contacts (Tick to add)</h2>
					<p>You can select contacts to add to the <em>{{ cset.name }}</em> contact group.</p>
					<ul class="list-nostyle">
						{% for user in nonmembers %}
							<li>
								<div class="feed_message">
									<img src="{{ config.DEFAULT_AVATAR_URL(user.userid) }}" class="avatarsml">
									<div class="feed_message_value">
										<label>
											{{ user.display_name }} ({{ user.userid }})
											<input type="checkbox" name="add{{ user.usernum }}" autocomplete="off">
										</label>
									</div>
								</div>
							</li>
						{% endfor %}
					</ul>
				</div>
			{% endif %}
		</div>
		<button type="submit">Apply changes</button>
	</form>
{% endblock %}
