{% set page_title = "Contact Group" %}
{% extends "page.html" %}

{% block page_content %}
	<h1>Contact Group: {{ cset.name }}</h1>
	{% if is_primary_set %}
		<p>You have {{ members | length }} contact(s).</p>
		<a href="/sets/outgoing" class="button button-clear">Add contacts…</a> • <a href="{{ request.path }}/edit" class="button button-clear">Remove contacts…</a>
	{% else %}
		<p>This contact group has {{ members | length }} contact(s).</p>
		<a href="{{ request.path }}/edit" class="button button-clear">Add or remove members…</a>
	{% endif %}
	{% if members %}
		<h2>Contacts in this Contact Group</h2>
		<ul class="list-nostyle">
			{% for member in members %}
				<li><div class="feed_message">
					<img src="{{ config.DEFAULT_AVATAR_URL(member.userid) }}" class="avatarsml">
					<div class="subfeed_message_value">
						<a href="/users/by-userid/{{ member.userid }}">{{ member.display_name }} ({{ member.userid }})</a>
					</div>
				</div></li>
			{% endfor %}
		</ul>
	{% endif %}
{% endblock %}
