{% set page_title = "Add a contact" %}
{% extends "page.html" %}

{% block page_content %}
	<h1>Add a contact</h1>
	
	<form method="POST">
		{{ form.csrf_token() }}
		{% if form.csrf_token.errors %}
			<ul class="form-errors">
				{% for error in form.csrf_token.errors %}<li>{{ error }}</li>{% endfor %}
				<li>If you meant to submit this form (and it was not forged), please submit it again.</li>
			</ul>
		{% endif %}
		To add a new contact, please enter their User ID here or go to their profile page.
		<fieldset>
			{{ form.userid.label() }}
			{{ form.userid() }}
			{% if form.userid.errors %}
				<ul class="form-errors">{% for error in form.userid.errors %}<li>{{ error }}</li>{% endfor %}</ul>
			{% endif %}
			<button type="submit">Add as contact</button>
		</fieldset>
	</form>
{% endblock %}
