{% set page_title = "Contact Group" %}
{% extends "page.html" %}

{% block page_content %}
	<h1>Create a Contact Group</h1>
	
	<p>Once you have created a contact group, you will be able to add contacts to it so that you can restrict the visibility of your posts.</p>
	
	<form method="POST">
		{{ form.csrf_token() }}
		{% if form.csrf_token.errors %}
			<ul class="form-errors">
				{% for error in form.csrf_token.errors %}<li>{{ error }}</li>{% endfor %}
				<li>If you meant to submit this form (and it was not forged), please submit it again.</li>
			</ul>
		{% endif %}
		<fieldset>
			{{ form.name.label() }}
			{{ form.name() }}
			{% if form.name.errors %}
				<ul class="form-errors">{% for error in form.name.errors %}<li>{{ error }}</li>{% endfor %}</ul>
			{% endif %}
			<button type="submit">Create</button>
		</fieldset>
	</form>
{% endblock %}
