{% set page_title = "Incoming Contacts Requests" %}
{% extends "page.html" %}

{% block page_content %}
	<h1>Incoming Contact Requests</h1>
	
	<form method="POST" action="/sets/incoming">
		{{ form.csrf_token() }}
		{% if form.csrf_token.errors %}
			<ul class="form-errors">
				{% for error in form.csrf_token.errors %}<li>{{ error }}</li>{% endfor %}
				<li>If you meant to submit this form (and it was not forged), please submit it again.</li>
			</ul>
		{% endif %}
		
		<h2>You are about to:</h2>
		<ul>
			{% for action in actions %}
				<li>{{ action }}</li>
			{% endfor %}
		</ul>
		
		<p>If this is what you intended, please submit the form. Otherwise, please exit using the top menu.</p>
		
		<button type="submit">Submit (as intended)</button>
	</form>
{% endblock %}
