{% set page_title = "Contacts" %}
{% extends "page.html" %}

{% block page_content %}
	<h1>Contacts</h1>
	
	<p><a href="./all" class="button button-clear">View all contacts</a> • <a href="./all/edit" class="button button-clear">Remove some contacts…</a></p>
	
	<h2>Incoming Contact Requests</h2>
	{% if incoming %}
		<form method="POST" action="/sets/incoming">
			{{ iform.csrf_token() }}
			<ul>
				{% for ireq in incoming %}
					<li>
						<div class="feed_message">
							<img src="{{ config.DEFAULT_AVATAR_URL(ireq.userid) }}" class="avatar">
							<div class="feed_message_value">
								<label>
									Request from <a href="/users/by-userid/{{ ireq.userid }}">{{ ireq.display_name }} ({{ ireq.userid }})</a>:
									<select name="ireq_{{ ireq.usernum }}">
										<option value="">---</option><option value="acc">Accept</option><option value="rej">Reject</option>
									</select>
								</label>
							</div>
						</div>
					</li>
				{% endfor %}
			</ul>
			<button type="submit">Submit response(s)</button>
		</form>
	{% else %}
		<p>You do not have any pending incoming contact requests.</p>
	{% endif %}
	
	<h2>Outgoing Contact Requests</h2>
	{% if outgoing %}
		{% for oreq in outgoing %}
			<li>
				<div class="feed_message">
					<img src="{{ config.DEFAULT_AVATAR_URL(oreq.userid) }}" class="avatar">
					<div class="feed_message_value">
						Request to <a href="/users/by-userid/{{ oreq.userid }}">{{ oreq.display_name }} ({{ oreq.userid }})</a>:
					</div>
				</div>
			</li>
		{% endfor %}
	{% else %}
		<p>You do not have any pending outgoing contact requests.</p>
	{% endif %}
	
	<form method="POST" action="/sets/outgoing">
		{{ oform.csrf_token() }}
		To add a new contact, please enter their User ID here or go to their profile page.
		<fieldset>
			{{ oform.userid.label() }}
			{{ oform.userid() }}
			<button type="submit">Add as contact</button>
		</fieldset>
	</form>
	
	<h2>Contact Groups</h2>
	{% if csets %}
		<ul>
			{% for cset in csets %}
				<li><a href="/sets/contactset/{{ cset.setnum }}">{{ cset.name }}</a></li>
			{% endfor %}
		</ul>
	{% else %}
		You don't have any contact groups yet.
	{% endif %}
	<a href="/sets/contactset/new" class="button button-clear">Create a contact group…</a>
{% endblock %}
