html
	height: 100%

body
	background-color: $page-bg

.unbordered
	border: 0

body.upload_page
	display: flex
	flex-direction: column
	height: 100%
	
	.main
		flex-grow: 1
	

.gallery
	figure
		display: inline-block
		position: relative
		margin: 1em 0.4em 1em 0.4em

		figcaption
			display: none

	a
		color: $photo-neutral
		display: block
		
		img
			display: block
			width: 200px
			height: 124px
			border: 1px solid $photo-neutral
			
		&:hover
			color: $photo-hover
			
			img
				border: 1px solid $photo-hover
		
		&.selected
			color: $photo-select
			
			img
				border: 1px solid $photo-select
		
		.overlay
			position: absolute
			//background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.7))
			background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8))
			bottom: 1px // border size
			left: 1px
			right: 1px
			padding: 0 .4em 0 .4em
			// disable line-wrapping
			white-space: nowrap
			overflow: hidden
			text-overflow: ellipsis
			
		.date
			font-size: 0.8em
			font-weight: 1000
			font-variant: small-caps
		
		&.photo .overlay
			color: $photo-neutral
		&.photo:not(:hover) .overlay
			display: none
