nav.nav
	background-color: $bar-top
	background-image: linear-gradient(to bottom, $bar-top, $bar-bottom)
	
	display: none
	margin: 0
	
	& > ul
		list-style: none
		padding: 0
		margin: 0
	
	& li:not(.is-filler)
		margin: 0 0.2em 0 0.2em
	
	& li > a, & li > label, & li.is-dummy
		display: block
		padding: 0.2em 0.3em 0.2em 0.3em
	
	& li:not(.is-dummy)
	
		&:hover
			background-image: linear-gradient(to bottom, $bar-bottom, $nav-hovered-bar-bottom)
			
		&.nav-active
			background-image: linear-gradient(to bottom, $bar-bottom, $nav-active-bar-bottom)
	
	& li.is-filler
		display: none

.menu_toggle_bar
	margin: 0
	padding: 0.5em
	background-color: $menu-toggle-background
	color: $menu-toggle-foreground
	text-align: center

input[type=checkbox].menu_toggle
	display: none
	&:checked ~ nav.nav
		display: block
	
	&:checked ~ .menu_toggle_bar
		display: none

// Larger than mobile screen
@media (min-width: 40.0rem)
	.menu_toggle_bar
		display: none
		
	nav.nav
		display: block
		
		& > ul
			display: flex
			flex-direction: row
			flex-wrap: wrap
		
		& li:not(.is-filler)
			margin: 0 0.4em 0 0.4em
		
		& li > a, & li > label, & li.is-dummy
			display: block
			padding: 0.4em 0.6em 0.4em 0.6em
		
		& li:not(.is-dummy)
		
			&:hover
				background-image: linear-gradient(to bottom, $bar-bottom, $nav-hovered-bar-bottom)
				
			&.nav-active
				background-image: linear-gradient(to bottom, $bar-bottom, $nav-active-bar-bottom)
		
		& li.is-filler
			display: inline
			flex-grow: 1

