// The theme builds upon my Milligramme-Noir-EnBlanc theme.

// overrides come before the inclusion.
// $color-secondary: #404C56 !important; merged upstream

@import "../../node_modules/milligramme-noir-enblanc/src/milligramme-noir-enblanc.sass";


$colour-primary: $color-primary;
$colour-secondary: $color-secondary;
$colour-tertiary: $color-tertiary;
$colour-quaternary: $color-quaternary;
$colour-quinary: $color-quinary;

$nav-primary: #D5E5C3;
$nav-secondary: #E3C3E5;
$nav-hovered: #C3E5E3;
$menu-toggle-background: $colour-secondary;
$menu-toggle-foreground: #fff;

@import "../lib/_font-unfading";

@import "../pieces/_basics";
@import "../pieces/_homepage";
@import "../pieces/_layout";
@import "../pieces/_forms";
@import "../pieces/_nav";
@import "../pieces/_services";
//@import "../pieces/_status";
