
// overrides come before the inclusion.


//@import "../../node_modules/milligramme-noir-enblanc/src/milligramme-noir-enblanc.sass";

@import "../../node_modules/milligramme-noir/src/lib/normalize";

@import "../../node_modules/milligramme-noir/src/Colour";
@import "../../node_modules/milligramme-noir/src/Base";
@import "../../node_modules/milligramme-noir/src/Blockquote";
@import "../../node_modules/milligramme-noir/src/Button";
@import "../../node_modules/milligramme-noir/src/Code";
@import "../../node_modules/milligramme-noir/src/Divider";
@import "../../node_modules/milligramme-noir/src/Form";
@import "../../node_modules/milligramme-noir/src/Grid";
@import "../../node_modules/milligramme-noir/src/Link";
@import "../../node_modules/milligramme-noir/src/List";
@import "../../node_modules/milligramme-noir/src/Spacing";
@import "../../node_modules/milligramme-noir/src/Table";
@import "../../node_modules/milligramme-noir/src/Typography";
@import "../../node_modules/milligramme-noir/src/Image";
@import "../../node_modules/milligramme-noir/src/Utility";
$colour-primary: $color-primary;
$colour-secondary: $color-secondary;
$colour-tertiary: $color-tertiary;
$colour-quaternary: $color-quaternary;
$colour-quinary: $color-quinary;


$bar-top: #222;
$bar-bottom: #111;
$nav-hovered-bar-bottom: #8E0B76;
$nav-active-bar-bottom: #0B8E65;
$page-bg: #181818;

$photo-neutral: #fff;
$photo-hover: #1AE0CB;
$photo-select: #CB1AE0;

$menu-toggle-background: $colour-secondary;
$menu-toggle-foreground: #000;

@import "../lib/_font-orkney";

@import "../gallery/_basics";
@import "../gallery/_nav";
@import "../gallery/_layout";


body {
	font-family: rei-orkney, 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}
