// The theme builds upon my Milligramme-Noir-EnBlanc theme.

// overrides come before the inclusion.
// $color-secondary: #404C56 !important; merged upstream

//@import "../../node_modules/milligramme-noir-enblanc/src/milligramme-noir-enblanc.sass";

@import "../../node_modules/milligramme-noir-enblanc/src/lib/normalize";

@import "../../node_modules/milligramme-noir-enblanc/src/Colour";
@import "../../node_modules/milligramme-noir-enblanc/src/Base";
@import "../../node_modules/milligramme-noir-enblanc/src/Blockquote";
@import "../../node_modules/milligramme-noir-enblanc/src/Button";
@import "../../node_modules/milligramme-noir-enblanc/src/Code";
@import "../../node_modules/milligramme-noir-enblanc/src/Divider";
@import "../../node_modules/milligramme-noir-enblanc/src/Form";
@import "../../node_modules/milligramme-noir-enblanc/src/Grid";
@import "../../node_modules/milligramme-noir-enblanc/src/Link";
@import "../../node_modules/milligramme-noir-enblanc/src/List";
@import "../../node_modules/milligramme-noir-enblanc/src/Spacing";
@import "../../node_modules/milligramme-noir-enblanc/src/Table";
@import "../../node_modules/milligramme-noir-enblanc/src/Typography";
@import "../../node_modules/milligramme-noir-enblanc/src/Image";
@import "../../node_modules/milligramme-noir-enblanc/src/Utility";


$colour-primary: $color-primary;
$colour-secondary: $color-secondary;
$colour-tertiary: $color-tertiary;
$colour-quaternary: $color-quaternary;
$colour-quinary: $color-quinary;

$nav-primary: #DFCDE9; //#D4BBE2;
$nav-hovered: #DCE2BB;
$menu-toggle-background: $colour-secondary;
$menu-toggle-foreground: #fff;

$flash-colour: #9D66BD;

$level1-colour: #66BD9D;
$level2-colour: #66BD72;
$level3-colour: #7266BD;

@import "../lib/_font-orkney";

@import "../pieces/_basics";
@import "../pieces/_homepage";
@import "../pieces/_layout";
@import "../pieces/_forms";
@import "../pieces/_nav";
@import "../pieces/_feed";

body {
	font-family: rei-orkney, 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}
