
.navigation
	display: none;
	margin: 0;
	
	& > ul
		list-style: none;
		padding: 0;
		margin: 0;
		
		background-color: $nav-primary;
		border-bottom: 1px solid darken($nav-primary, 30%);
	
	& li:not(.is-filler)
		margin: 0 0.2em 0 0.2em;
	
	& li > a, & li > label, & li.is-dummy
		display: block;
		padding: 0.5em 0.3em 0.5em 0.3em;
	
	& li:not(.is-dummy)
		border-bottom: 2px solid darken($nav-primary, 30%);
	
		&:hover
			background-color: $nav-hovered;
			border-bottom: 2px solid darken($nav-hovered, 30%);
	
	& li.is-filler
		display: none;

.navigation.navigation-secondary > ul
		background-color: $nav-secondary;
		border-bottom: 1px solid darken($nav-secondary, 30%);
		
		& li:not(.is-dummy)
			border-bottom: 2px solid darken($nav-secondary, 30%);

.menu_toggle_bar
	margin: 0;
	padding: 2em;
	background-color: $menu-toggle-background;
	color: $menu-toggle-foreground;
	text-align: center;

input[type=checkbox].menu_toggle
	display: none;
	&:checked ~ .navigation
		display: block;
	
	&:checked ~ .menu_toggle_bar
		display: none;

// Larger than mobile screen
@media (min-width: 40.0rem)
	.menu_toggle_bar
		display: none;
		
	.navigation
		display: block;
		
		& > ul
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
		
		& li:not(.is-filler)
			margin: 0 0.4em 0 0.4em;
		
		& li > a, & li > label, & li.is-dummy
			display: block;
			padding: 1em 0.6em 1em 0.6em;
		
		& li:not(.is-dummy)
			border-bottom: 2px solid darken($nav-primary, 30%);
		
			&:hover
				background-color: $nav-hovered;
				border-bottom: 2px solid darken($nav-hovered, 30%);
		
		& li.is-filler
			display: inline;
			flex-grow: 1;

