
.service > div
	margin: 0.2em;
	padding: 0.2em;
	background-color: $colour-tertiary;
	margin-bottom: 1.2em !important;

.service-top
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	
	& > img
		margin: 0 0.2em 0 0.2em;
	
	& > div
		flex-grow: 1;
