
.status
	font-size: 1.5em;
	
	&.is-good
		&::before
			content: '\2714';
		
	&.is-bad
		&::before
			content: '\2718';
	
	&.is-warning
		&:before
			content: '\26a0';
	
	&::before
		margin-right: 0.2em;
