
html, body
	height: 100%

.header .container
	padding: 2em 2em 0em 2em
	text-align: center

.slightly-bad-motto
	font-size: 1.5em
	font-style: italic
	opacity: 0.8
	
.wrapper
	display: flex
	flex-direction: column
	flex-wrap: nowrap
	height: 100%

	& .content
		flex: 1

footer.footer
	padding: 1em 2em 1em 2em

.content
	padding: 0.2em 0.4em 0.2em 0.4em

@media (min-width: 40.0rem)
	.content
		padding: 2em 4em 2em 4em
	
.fill-v
	display: flex !important
	flex-direction: column
	
	& > *
		flex: 1

.list-nostyle
	list-style: none
