

ul.feed
	list-style: none
	
	& > li
		background-color: #fff
	
	& p
		margin-bottom: 0.6em

ul.subfeed
	list-style: none
	margin-left: 2.4em
	border-left: 0.4em solid black
	border-right: 0.4em solid black
	
	& > li
		margin-bottom: 0.4em
		padding-left: 0.4em
		padding-right: 0.1em
		
	
	&.level-1
		font-size: 90%
		border-left-color: $level1-colour
		border-right-color: $level1-colour
	
	&.level-2
		border-left-color: $level2-colour
		border-right-color: $level2-colour
		
	&.level-3
		border-left-color: $level3-colour
		border-right-color: $level3-colour

.feed_message
	display: flex
	flex-direction: row

.feed_message_value
	flex-grow: 1
	padding: calc(35px - 1.5em) 1em 0.5em 1em

.feed_message_commands
	opacity: 0.75
	padding-left: 1em
	
	&:hover
		opacity: 1.0

.subfeed_message_value
	flex-grow: 1
	padding: calc(17.5px - 0.5em) 0.5em 0.25em 0.5em

//.avatar, .avatarsml
	// border-radius: 42% // removed because it doesn't work well with the cats

.avatar
	width: 70px
	height: 70px

.avatarsml
	width: 35px
	height: 35px

hr.hr-nomargin
	margin: 0

.textarea_tall
	min-height: 9em

ul ul
	font-size: 100% // TODO upstream this (remove the troublesome code upstream)
	

// corresponds to a PC screen and maybe a tablet. Mobile-first violation
// because @extent can't be used across @media boundaries :-(
//	.pc-row
//		@extend .row
//	
//	.pc-column
//		@extend .column
//	
//	.pc-column-20
//		@extend .column-20
//	
//	.pc-column-60
//		@extend .column-60;	
