
.narrow
	max-width: 32em

.hcentre-margin
	margin-left: auto
	margin-right: auto
	
.hbox
	display: flex
	flex-direction: row
	
	& > .hbox-fill
		flex-grow: 1

.project
	margin-bottom: 1.2em !important

.flash
	margin: 0.1em 3em 0.1em 3em
	border: 1px solid $flash-colour
